!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blockmarks
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .navigation
      %nav.navbar.navbar-inverse{:role => "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => '/'} Blocmarks
        #navbarCollapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li.link_nav_menu
                = link_to 'sign out', destroy_user_session_path, method: :delete
            - else 
              %li.link_nav_menu
                = link_to 'sign in', new_user_session_path
              %li.link_nav_menu
                = link_to 'sign up', new_user_registration_path


    - if flash[:notice]
      .alert.alert-success
        %button.close{"data-dismiss" => "alert", :type => "button"} &times;
        = flash[:notice]
    - elsif flash[:error]
      .alert.alert-danger
        %button.close{"data-dismiss" => "alert", :type => "button"} &times;
        = flash[:error]
    - elsif flash[:alert]
      .alert.alert-warning
        %button.close{"data-dismiss" => "alert", :type => "button"} &times;
        = flash[:alert]


    = yield
